// Forbid scaling of crewed parts
@PART[*]:HAS[#CrewCapacity[*],~CrewCapacity[0]]:FINAL {
    !MODULE[TweakScale] {}
}

// Forbid scaling of parts for mk* bulkhead profiles
@PART[*]:HAS[#bulkheadProfiles[*mk?*]]:FINAL {
    !MODULE[TweakScale] {}
}

// Couplers and Separators use stack instead of free
@PART[*]:HAS[@MODULE[TweakScale],#bulkheadProfiles[size0],#category[Coupling]]:FINAL {
    @MODULE[TweakScale]
	{
		@type = stack
		%defaultScale = 0.625
	}
}
@PART[*]:HAS[@MODULE[TweakScale],#bulkheadProfiles[size1],#category[Coupling]]:FINAL {
    @MODULE[TweakScale]
	{
		@type = stack
		%defaultScale = 1.25
	}
}
@PART[*]:HAS[@MODULE[TweakScale],#bulkheadProfiles[size2],#category[Coupling]]:FINAL {
    @MODULE[TweakScale]
	{
		@type = stack
		%defaultScale = 2.5
	}
}
@PART[*]:HAS[@MODULE[TweakScale],#bulkheadProfiles[size3],#category[Coupling]]:FINAL {
    @MODULE[TweakScale]
	{
		@type = stack
		%defaultScale = 3.75
	}
}

// Size2 Solid Boosters
@PART[Clydesdale]:FOR[TweakScale] // Clydesdale (solidBoosterS2-33) for KSP >= 1.8
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[Thoroughbred]:FOR[TweakScale] // Thoroughbred (solidBoosterS2-17) for KSP >= 1.8
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[Shrimp]:FOR[TweakScale] // Shrimp (SolidBoosterF3S0) for KSP >= 1.8
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 0.625
    }
}
@PART[Mite]:FOR[TweakScale] // Mite (SolidBoosterFM1) for KSP >= 1.8
{
    #@TWEAKSCALEBEHAVIOR[SRB]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 0.625
    }
}

// Experiment Storage Unit
@PART[ScienceBox]:FINAL //  Experiment Storage Unit for KSP >= 1.5
{
	@MODULE[TweakScale]
	{
		@defaultScale = 0.625
	}
}

// LV-1 "Ant" Liquid Fuel Engine
@PART[microEngine_v2]:FINAL // LV-1 Liquid Fuel Engine
{
	@MODULE[TweakScale]
	{
		@defaultScale = 0.3
	}
}